.cart-dropdown {
  position: absolute;
  max-height: 340px;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background: white;
  top: 80px;
  right: 60px;
  z-index: 5;

  .cart-items {
    max-height: 280px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .empty-message {
    font-size: 18px;
    margin: 40px auto;
  }

  button {
    margin-top: auto;
  }
}
